// Basic text formatting
.text-error,
.text-error span {
    color: $errorText;
}
  
.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-semibold {
    font-weight: 600;
}

.text-bold {
    font-weight: bold;
}

.text-uppercase {
    text-transform: uppercase;
}

// Error message container
.error-message {
    width: 100%;
}
